body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 50px;
    width: 40px;
    margin: 15px;
    font-size: 40px;
}

.btn.number{
    border: 1px solid green;
    border-radius: 10px;
}

.btn.number:hover{
    background-color: green;
}

.btn.operator{
    border: 1px solid blue;
    border-radius: 10px;
}

.btn.operator:hover{
    background-color: blue;
}

.btn.decimal{
    border: 1px solid gold;
    border-radius: 10px;
}

.btn.decimal:hover{
    background-color: gold;
}

.btn.equal{
    border: 1px solid pink;
    border-radius: 10px;
}

.btn.equal:hover{
    background-color: pink;
}

.btn.clear{
    border: 1px solid purple;
    border-radius: 10px;
}

.btn.clear:hover{
    background-color: purple;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.screen{
    width: 195px;
    border: 1px solid red;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}